body{
    background-color: color #f0f0f0;
    font-family:Arial,sans-serif ;
    margin: 0 ;
    padding: 0;
}


nav{background-color: #222;
padding: 10px 0;text-align: center;}
nav ul {list-style:none ;
padding: 0;
margin: 0;}

nav ul li a {display: inline
    ;margin: 0 20px;}


      nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
      nav ul li a:hover{
        color: #00aced;
      }
